body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.top-section {
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-section {
  background-image: url("../images/shapes/Frame58.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-bottom: 50px;
  padding-top: 100px;
}
.container {
  display: flex;
}
.artical-item h1 {
  font-size: 60px;
  margin: 5px;
  font-weight: 600;
  color: #575757;
}
.artical-item p {
  font-size: 25px;
  color: gray;
  margin-bottom: 40px;
}

.artical-item {
  width: 50%;
  padding-top: 170px;
  padding-left: 220px;
}
.showcase-item {
  width: 50%;
}
.about-showcase {
  width: 50%;
  padding-left: 50px;
}
.about-showcase img {
  width: 35%;
  padding-left: 200px;
}
.about-artical {
  width: 50%;
  padding-top: 100px;
  padding-right: 100px;
}
.about-artical h1 {
  font-size: 60px;
  margin: 0 0 5px 0;
  color: #575757;
}
.about-artical p {
  font-size: 20px;
  margin-bottom: 50px;
}
.high-light {
  background-image: linear-gradient(90deg, #fba24f, #ff1e1e);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 800;
}
.of-button {
  text-decoration: none;
  padding: 15px 40px;
  background-image: linear-gradient(135deg, #fba24f, #ff1e1e);
  color: white;
  border-radius: 25px;
  margin-top: 20px;
  box-shadow: 2px 2px 50px #ff1e1e;
}
.my-recipies-item-section {
  margin-bottom: 100px;
}
.my-recipies-section {
  text-align: center;
  margin-bottom: 50px;
}
.my-recipies-item-showcase {
  display: flex;
  justify-content: space-evenly;
}
.my-recipies-section-heading h1 {
  font-size: 50px;
  color: #575757;
  margin: 10px;
}
.my-recipies-section-blog {
  width: 700px;
  margin: auto;
  font-size: 17px;
  color: #575757;
}
.my-recipies-item-blog p {
  color: #575757;
  padding-left: 5px;
  margin: 0;
}
.my-recipies-item-blog h1 {
  color: #393939;
  margin: 10px 10px;
}
.my-recipies-item {
  text-align: center;
  width: 35%;
  box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.313);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.my-recipies-item img {
  width: 80%;
}
.my-recipies-item-blog {
  text-align: left;
  width: 80%;
  margin: auto;
}
.live-info-container {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.313);
  width: 80%;
  margin: auto;
  border-radius: 20px;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.info-item h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  margin-bottom: 0px;
  padding: 0;
}
.info-item p {
  margin-bottom: 50px;
  margin-top: 0;
  padding: 0;
}
.live-info {
  margin-bottom: 100px;
}
.footer {
  padding-top: 50px;
  text-align: center;
  height: 200px;
  background-color: #0b0d17;
}
.footer h1 {
  color: white;
}
.footer p {
  color: white;
}
